$primary-color: #ffb61d;
$secondary-color: #d8a12f;
$text-color: #555555;
$text-secondary: #c2c2c2;
$gray-gb: #eeeeee;
$gray-secondary-bg: #f1f3f6;
$primary-purple: #7001fd;
$secondary-purple: #421eb7;
